
/* :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
    /* ... */


body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.main {
    display: flex;
}

#results {
    display: block;
}
header {
    background-color: rgb(4, 79, 71);
    color: rgb(221, 215, 199);
    justify-content: center;
}

.search-box {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-content: left;
    font-size: 15%;
    background-color: rgb(10, 153, 134);
}

#city-name {
    justify-content: center;
    display: block;
    width: 85%;
    height: 10%;
    font-size: 15%;
    padding-left: 2%;
}

#search-button {
    background-color: aquamarine;
    height: 10%;
    width: 50%;
    font-size: 15%;
    align-content: center;
}

#current-weather {
    background-color: rgb(222, 150, 150);
}

#forecast {
    background-color: rgb(123, 230, 230);
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}